Repository codeformuenster/muenster-jetzt, pull requests merged in 2020-10, with the labels that each got.

#236 apply black
  .gitignore
  backend/migrations/001_initial.py
  backend/migrations/002_event_images.py
  backend/mj/__init__.py
  backend/mj/__main__.py
  backend/mj/api.py
  backend/mj/cli.py
  backend/mj/db.py
  backend/mj/schema.py
  backend/mj/spiders/__init__.py
  backend/mj/spiders/muensterland.py
  backend/setup.py
  backend/tox.ini
Labels: component/backend, component/importer

#255 Add all font weights
  frontend/README.md
  frontend/src/styles/base.scss
  frontend/src/styles/fonts/recursive-v21-latin-300.woff
  frontend/src/styles/fonts/recursive-v21-latin-300.woff2
  frontend/src/styles/fonts/recursive-v21-latin-500.woff
  frontend/src/styles/fonts/recursive-v21-latin-500.woff2
  frontend/src/styles/fonts/recursive-v21-latin-600.woff
  frontend/src/styles/fonts/recursive-v21-latin-600.woff2
  frontend/src/styles/fonts/recursive-v21-latin-700.woff
  frontend/src/styles/fonts/recursive-v21-latin-700.woff2
  frontend/src/styles/fonts/recursive-v21-latin-800.woff
  frontend/src/styles/fonts/recursive-v21-latin-800.woff2
  frontend/src/styles/fonts/recursive-v21-latin-900.woff
  frontend/src/styles/fonts/recursive-v21-latin-900.woff2
Labels: component/frontend

#256 replace font with woff2 from source
  frontend/README.md
  frontend/src/styles/base.scss
  frontend/src/styles/fonts/Recursive_VF_1.065--subset_range_english_basic.woff2
  frontend/src/styles/fonts/Recursive_VF_1.065--subset_range_latin_1.woff2
  frontend/src/styles/fonts/Recursive_VF_1.065--subset_range_latin_1_punc.woff2
  frontend/src/styles/fonts/Recursive_VF_1.065--subset_range_latin_ext.woff2
  frontend/src/styles/fonts/recursive-v21-latin-300.woff
  frontend/src/styles/fonts/recursive-v21-latin-300.woff2
  frontend/src/styles/fonts/recursive-v21-latin-500.woff
  frontend/src/styles/fonts/recursive-v21-latin-500.woff2
  frontend/src/styles/fonts/recursive-v21-latin-600.woff
  frontend/src/styles/fonts/recursive-v21-latin-600.woff2
  frontend/src/styles/fonts/recursive-v21-latin-700.woff
  frontend/src/styles/fonts/recursive-v21-latin-700.woff2
  frontend/src/styles/fonts/recursive-v21-latin-800.woff
  frontend/src/styles/fonts/recursive-v21-latin-800.woff2
  frontend/src/styles/fonts/recursive-v21-latin-900.woff
  frontend/src/styles/fonts/recursive-v21-latin-900.woff2
  frontend/src/styles/fonts/recursive-v21-latin-regular.woff
  frontend/src/styles/fonts/recursive-v21-latin-regular.woff2
Labels: component/frontend

#272 frontend dependencies 2020-10-22
  frontend/package-lock.json
  frontend/package.json
Labels: component/frontend, dependencies
