Repository codeformuenster/muenster-jetzt, pull requests merged in 2020-09, with the labels that each got.

#180 Convert qr url generation to hook
  frontend/src/Kiosk/Kiosk.tsx
  frontend/src/UI/FullScreenCarousel/Slide.tsx
  frontend/src/hooks/useDevice.ts
Labels: component/frontend

#181 pin dependencies in frontend dockerfile
  frontend/deployment/Dockerfile.prod
Labels: dependencies

#54 add iframe
  .github/dependabot.yml
  frontend/config-overrides.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/@types/event.d.ts
  frontend/src/@types/slide.d.ts
  frontend/src/Kiosk/mockdata.ts
  frontend/src/UI/FullScreenCarousel/FullScreenCarousel.tsx
  frontend/src/UI/FullScreenCarousel/Slide.module.css
  frontend/src/UI/FullScreenCarousel/Slide.tsx
Labels: component/frontend

#191 add gobeta.de to CSP img-src
  frontend/config-overrides.js
Labels: component/frontend

#192 add https://muenster-jetzt.de to img-src CSP
  frontend/config-overrides.js
Labels: component/frontend

#194 no more 'self' script-src
  frontend/config-overrides.js
Labels: component/frontend

#167 Loading environmental variables via python-dotenv
  .gitignore
  backend/README.md
  backend/mj/__main__.py
  backend/mj/db.py
  backend/mj/utils.py
  backend/requirements.txt
  backend/setup.py
Labels: component/backend

#183 change handling of env variables for postgres
  README.md
  backend/.env.example
  docker-compose.yml
Labels: component/backend

#197 Frontend / Kiosk improvements
  frontend/README.md
  frontend/src/@types/slide.d.ts
  frontend/src/Kiosk/mockdata.ts
  frontend/src/UI/FullScreenCarousel/FullScreenCarousel.tsx
  frontend/src/UI/FullScreenCarousel/IFrameSlide.tsx
  frontend/src/UI/FullScreenCarousel/Slide.module.css
  frontend/src/UI/FullScreenCarousel/Slide.tsx
  frontend/src/UI/FullScreenCarousel/VideoSlide.tsx
  frontend/src/hooks/useAutoplayResume.ts
Labels: component/frontend

#203 add media-src csp policy
  frontend/config-overrides.js
Labels: component/frontend

#206 Add migrations to backend container image
  backend/deployment/Dockerfile.prod
Labels: component/backend, deployment

#212 Pause autoplay & manually forward slide after video end
  frontend/src/UI/FullScreenCarousel/FullScreenCarousel.tsx
  frontend/src/UI/FullScreenCarousel/Slide.tsx
  frontend/src/UI/FullScreenCarousel/VideoSlide.tsx
  frontend/src/hooks/useAutoplayResume.ts
Labels: component/frontend

#218 upgrade frontend dependencies 2020-09-21
  frontend/package-lock.json
  frontend/package.json
Labels: component/frontend, dependencies

#187 Scrape datenportal
  backend/.env.example
  backend/README.md
  backend/mj/spiders/muensterland_ev.py
  backend/pyproject.toml
Labels: component/importer

#204 Frontend App skeleton
  frontend/deployment/muenster-jetzt.nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/src/@types/app.d.ts
  frontend/src/App/App.module.scss
  frontend/src/App/App.test.tsx
  frontend/src/App/App.tsx
  frontend/src/App/DateSelector/DateArrow.module.scss
  frontend/src/App/DateSelector/DateArrow.tsx
  frontend/src/App/DateSelector/DateButton.module.scss
  frontend/src/App/DateSelector/DateButton.tsx
  frontend/src/App/DateSelector/DateSelector.module.scss
  frontend/src/App/DateSelector/DateSelector.tsx
  frontend/src/App/EventsList/EventList.module.scss
  frontend/src/App/EventsList/EventsList.tsx
  frontend/src/App/EventsListItem/EventListItem.module.scss
  frontend/src/App/EventsListItem/EventListItem.tsx
  frontend/src/App/EventsListItem/LoadingEventListItem.tsx
  frontend/src/Helpers/RelativeTime.tsx
  frontend/src/LandingPage/LandingPage.tsx
  frontend/src/UI/Layout/Layout.module.scss
  frontend/src/UI/Layout/Layout.tsx
  frontend/src/UI/Nav/Nav.module.scss
  frontend/src/UI/Nav/Nav.tsx
  frontend/src/hooks/useDateWithoutYear.ts
  frontend/src/hooks/useGetEvents.ts
  frontend/src/hooks/useParsedDateRouteParam.ts
  frontend/src/index.tsx
  frontend/src/styles/base.scss
  frontend/src/styles/theme.scss
  frontend/src/utils/eventTime.ts
  frontend/src/utils/routes.ts
Labels: component/frontend

#243 Update Recursive font to v21 and document update
  frontend/README.md
  frontend/src/styles/base.scss
  frontend/src/styles/fonts/recursive-v21-latin-regular.woff
  frontend/src/styles/fonts/recursive-v21-latin-regular.woff2
Labels: bug, component/frontend

#244 use LocationDescriptor type in Box props Fixes #219
  frontend/package-lock.json
  frontend/package.json
  frontend/src/LandingPage/Box.tsx
Labels: bug, component/frontend
