Repository codeformuenster/muenster-jetzt, pull requests merged in 2020-08, with the labels that each got.

#110 Improve API docs
  backend/mj/api.py
  backend/mj/schema.py
  backend/requirements.txt
  backend/setup.py
Labels: component/backend, documentation

#125 frontend deps 2020-08-24
  frontend/package-lock.json
  frontend/package.json
Labels: component/frontend, dependencies

#130 upgrade frontend deps 2020-08-25
  frontend/package-lock.json
  frontend/package.json
Labels: component/frontend, dependencies

#84 Extract query params & use it for selecting different kiosk mockdata sets
  frontend/deployment/muenster-jetzt.nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/src/@types/event.d.ts
  frontend/src/Kiosk/Kiosk.tsx
  frontend/src/Kiosk/mockdata.ts
  frontend/src/TrackingWrapper.tsx
  frontend/src/UI/FullScreenCarousel/FullScreenCarousel.tsx
  frontend/src/hooks/useKioskTracking.ts
  frontend/src/hooks/useNavigationTracking.ts
  frontend/src/hooks/useQuery.ts
  frontend/src/hooks/useTrackingRequest.ts
  frontend/src/index.tsx
Labels: component/frontend

#148 Add GitHub Workflow for periodic imports
  .github/workflows/periodic-import.yaml
Labels: component/importer, deployment, github_actions

#151 Augment frontend client check for possible speedup
  .github/workflows/build-and-deploy.yaml
Labels: github_actions

#153 Upgrade frontend dependencies 2020-08-30
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies
