Repository codeformuenster/muenster-jetzt, pull requests merged in 2021-01, with the labels that each got.

#308 scrapy raises exception on error status code
  backend/scraping/spiders/__init__.py
  backend/scraping/spiders/muensterland.py
  backend/scraping/spiders/muensterland_ev.py
Labels: component/backend

#322 frontend deps upgrade 2020-01-04
  frontend/package-lock.json
  frontend/package.json
Labels: component/frontend, dependencies

#274 Calendar button
  frontend/src/App/Calendar/Calendar.module.scss
  frontend/src/App/Calendar/Calendar.tsx
  frontend/src/App/Calendar/CalendarBody.tsx
  frontend/src/App/DateSelector/DateArrow.module.scss
  frontend/src/App/DateSelector/DateArrow.tsx
  frontend/src/App/DateSelector/DateSelector.tsx
  frontend/src/UI/Nav/Nav.module.scss
Labels: component/frontend

#342 Frontend deps upgrade 2021 01 26
  frontend/package-lock.json
  frontend/package.json
Labels: component/frontend, dependencies
